<div id="container-lista" class="flex flex-col gap-3 mt-4">
    <%- include('../components/loader', { info: 'Carregando lista de entrada' }); %>
</div>

<%- include('../components/toast', { sucess: false, texto: 'Falha ao remover item da lista', id: 'falha-toast' }); %>

<script>
    document.addEventListener('DOMContentLoaded', async () => {

        // ELEMENTOS DOM
        const containerLista = document.getElementById('container-lista');
        const dadosLista = document.getElementById('dados-lista');
        const finalizarEntrada = document.getElementById('finalizar-entrada');
        const termosEntrada = document.getElementById('termos-entrada');
        const totalEntrada = document.getElementById('total-entrada');
        const loader = document.getElementById('loader');
        const toastFalha = document.getElementById('falha-toast');
        const unidade_id = '<%= unidade_id %>';

        // INSUMOS API
        const responseInsumos = await fetch('https://insumos.taiksu.com.br/insumos').then(response => response.json())

        // LISTA DE ENTRADA API
        const responseEntrada = await fetch(`/api/lista-entrada?unidade_id=${unidade_id}`).then(response => response.json())

        // FORNECEDORES API
        const responseFornecedores = await fetch('https://insumos.taiksu.com.br/fornecedores').then(response => response.json())

        if(responseEntrada) {
            loader.remove();
        } 
        if (responseEntrada.insumos_entrada.length == 0) {
            dadosLista.remove();
            termosEntrada.remove();
            containerLista.innerHTML = '<div class="flex text-gray-500 flex-col items-center justify-center p-16 bg-white rounded-xl border border-gray-200"><img src="/images/icones/manual.png" class="w-14 h-14 mb-5"><h2 class="text-xl font-semibold">Lista de entrada vazia</h2><a class="text-white bg-green-600 px-5 shadow-lg hover:shadow-none py-1 rounded-full hover:bg-green-700 transition-all mt-5 duration-300" href="/entrada/manual">Criar lista manual</a></div>';
        }


        // Pega somente os insumos dentro das categorias - FlatMap
        const listaInsumos = Object.values(responseInsumos).flat();

        // Pega só o array de insumos dentro da lista de entrada
        const listaEntrada = responseEntrada.insumos_entrada;

        // Junta a lista de entrada com os insumos
        const listaEntradaCompleta = listaEntrada.map(item => {
            const fornecedor = responseFornecedores.find(fornecedor => fornecedor.id === item.fornecedor_id)
            return {
                ...item,
                info: listaInsumos.find(insumo => insumo.id === item.insumo_id),
                fornecedor: fornecedor.nome
            }
        })


        ////// FUNCTIONS ////////

        // FUNCTION - RENDERIZA LISTA
        listaEntradaCompleta.forEach(item => {
            const div = document.createElement('div');
            
            let quantidadeFormadata;
            if(item.info.unidade_medida == 'uni') {
                quantidadeFormadata = Number(item.quantidade).toFixed(0) + ' ' + item.info.unidade_medida;
            } else {
                quantidadeFormadata = Number(item.quantidade).toFixed(3) + ' ' + item.info.unidade_medida;
            }

            const valorTotal = Number(item.preco) * Number(item.quantidade);

            div.classList.add('flex', 'flex-row', 'items-center', 'justify-between', 'border', 'border-gray-200', 'bg-white', 'rounded-xl', 'p-4');
            div.id = `item-${item.id}`;
            div.innerHTML = `
                        <div class="flex flex-row items-center gap-2">
                            <a href="/inventario/${item.info.id}">
                                <img src="https://insumos.taiksu.com.br${item.info.foto_url}" class="h-12 w-12 rounded-md bg-white border border-gray-50">
                            </a>
                            <div class="flex flex-col gap-0 mt-1">
                                <h2 class=" text-gray-700 font-semibold">${item.info.nome.length > 26 ? item.info.nome.slice(0, 23) + '...' : item.info.nome}</h2>
                                <h2 class="text-sm text-gray-500">${quantidadeFormadata} x ${Number(item.preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</h2>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-4 justify-between">
                            <h2 id="valor-total-${item.id}" class="text-end font-semibold text-sm text-green-700">${valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</h2>
                            <button id="editar-${item.id}" class="cursor-pointer bg-green-600 text-white px-4 py-1 rounded-full text-sm hover:bg-green-700 transition-colors duration-300">Editar</button>
                            <img id="delete-${item.id}" src="/images/icones/delete.png" class="w-8 h-8 cursor-pointer group bg-red-50 hover:bg-red-100 rounded-full p-1.5">
                        </div>
            `;
            containerLista.appendChild(div);
        })

        // FUNNCTION - ATUALIZAR TOTAL
        async function atualizarTotal() {
            const somaTotais = listaEntradaCompleta.reduce((total, item) => total + Number(item.preco) * Number(item.quantidade), 0);
            totalEntrada.textContent = somaTotais.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        }

        // FUNCTION - DELETE
        async function deleteItem(id) {
            console.log('Removendo item', id);
            const item = document.getElementById(`item-${id}`);
            const response = await fetch('/api/lista-entrada/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id
                })
            });
            const data = await response.json();
            
            if(data.success == true) {
                totalEntrada.textContent = data.total_lista.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                item.remove();
            } else {
                toastFalha.classList.remove('hidden');
                setTimeout(() => {
                    toastFalha.classList.add('hidden');
                }, 1200);
            }
        }


        ///////  EVENTOS DE CLICK /////////

        // EDITAR POPUP
        document.addEventListener('click', (event) => {
            if(event.target.id.startsWith('editar-')) {
                const popupEditarEntrada = document.getElementById('editar-entrada');
                const id = event.target.id.replace('editar-', '');

                popupEditarEntrada.classList.remove('hidden');
            }
        })

        // DELETE
        document.addEventListener('click', async (event) => {
            if(event.target.id.startsWith('delete-')) {
                const id = event.target.id.replace('delete-', '');
                await deleteItem(id);
            }
        })
        

        atualizarTotal();
    });
</script>