<div id="container-lista" class="flex flex-col gap-3 mt-4">
    <%- include('../components/loader', { info: 'Carregando lista de entrada' }); %>
</div>

<%- include('../components/toast', { sucess: false, texto: 'Falha ao remover item da lista', id: 'falha-toast' }); %>

<script>
    document.addEventListener('DOMContentLoaded', async () => {

        // ELEMENTOS DOM
        const containerLista = document.getElementById('container-lista');
        const dadosLista = document.getElementById('dados-lista');
        const finalizarSaida = document.getElementById('finalizar-saida');
        const termosSaida = document.getElementById('termos-saida');
        const totalSaida = document.getElementById('total-saida');
        const loader = document.getElementById('loader');
        const toastFalha = document.getElementById('falha-toast');
        const unidade_id = '<%= unidade_id %>';

        // INSUMOS API
        const responseInsumos = await fetch('https://insumos.taiksu.com.br/insumos').then(response => response.json())

        // LISTA DE ENTRADA API
        const responseSaida = await fetch(`/api/lista-saida?unidade_id=${unidade_id}`).then(response => response.json())

        // FORNECEDORES API
        const responseFornecedores = await fetch('https://insumos.taiksu.com.br/fornecedores').then(response => response.json())

        if(responseSaida) {
            loader.remove();
        } 
        if (responseSaida.insumos_saida.length == 0) {
            dadosLista.remove();
            termosSaida.remove();
            containerLista.innerHTML = '<div class="flex text-gray-500 flex-col items-center justify-center p-16 bg-white rounded-xl border border-gray-200"><img src="/images/icones/manual.png" class="w-14 h-14 mb-5"><h2 class="text-xl font-semibold">Lista de saída vazia</h2><a class="text-white bg-green-600 px-5 shadow-lg hover:shadow-none py-1 rounded-full hover:bg-green-700 transition-all mt-5 duration-300" href="/saida">Criar lista manual</a></div>';
        }


        // Pega somente os insumos dentro das categorias - FlatMap
        const listaInsumos = Object.values(responseInsumos).flat();

        // Pega só o array de insumos dentro da lista de entrada
        const listaSaida = responseSaida.insumos_saida;

        // Junta a lista de entrada com os insumos
        const listaSaidaCompleta = listaSaida.map(item => {
            return {
                ...item,
                info: listaInsumos.find(insumo => insumo.id === item.insumo_id)
            }
        })


        ////// FUNCTIONS ////////

        // FUNCTION - RENDERIZA LISTA
        listaSaidaCompleta.forEach(item => {
            const div = document.createElement('div');
            
            let quantidadeFormadata;
            if(item.info.unidade_medida == 'uni') {
                quantidadeFormadata = Number(item.quantidade).toFixed(0) + ' ' + item.info.unidade_medida;
            } else {
                quantidadeFormadata = Number(item.quantidade).toFixed(3) + ' ' + item.info.unidade_medida;
            }

            div.classList.add('flex', 'flex-row', 'items-center', 'justify-between', 'border', 'border-gray-200', 'bg-white', 'rounded-xl', 'p-4');
            div.id = `item-${item.id}`;
            div.innerHTML = `
                        <div class="flex flex-row items-center gap-2">
                            <a href="/inventario/${item.info.id}">
                                <img id="insumo-foto-${item.id}" src="https://insumos.taiksu.com.br${item.info.foto_url}" class="h-12 w-12 rounded-md bg-white border border-gray-50">
                            </a>
                            <div class="flex flex-col gap-0 mt-1">
                                <h2 id="insumo-nome-${item.id}" class=" text-gray-700 font-semibold">${item.info.nome.length > 26 ? item.info.nome.slice(0, 24) + '...' : item.info.nome}</h2>
                                <h2 class="text-sm text-red-600">
                                    <span id="quantidade-item-${item.id}">- ${quantidadeFormadata}</span>
                                </h2>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-4 justify-between">
                            <button id="editar-${item.id}" class="cursor-pointer bg-gray-200 text-gray-600 px-4 py-1 rounded-full text-sm hover:bg-gray-300 transition-colors duration-300">Editar</button>
                            <img id="delete-${item.id}" src="/images/icones/delete.png" class="w-8 h-8 cursor-pointer group bg-red-50 hover:bg-red-100 rounded-full p-1.5">
                        </div>
            `;
            containerLista.appendChild(div);
        })

        // FUNCTION - DELETE
        async function deleteItem(id) {
            console.log('Removendo item', id);
            const item = document.getElementById(`item-${id}`);
            const response = await fetch('/api/lista-saida/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id
                })
            });
            const data = await response.json();
            
            if(data.success == true) {
                totalSaida.textContent = data.total_lista.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                item.remove();
            } else {
                toastFalha.classList.remove('hidden');
                setTimeout(() => {
                    toastFalha.classList.add('hidden');
                }, 1200);
            }
        }


        ///////  EVENTOS DE CLICK /////////

        // EDITAR POPUP
        document.addEventListener('click', (event) => {
            if(event.target.id.startsWith('editar-')) {
                const popupEditarSaida = document.getElementById('editar-saida');
                const insumoFoto = document.getElementById('insumo-foto-edit');
                const insumoNome = document.getElementById('insumo-nome-edit');
                const insumoQuantidade = document.getElementById('quantidade-edit');
                const insumoId = document.getElementById('confirmar-edicao');
                const insumoPreco = document.getElementById('preco-edit');
                const id = event.target.id.replace('editar-', '');

                insumoId.dataset.insumoId = id;
                console.log('ID do insumo populado no botão do popup:', insumoId.dataset.insumoId);
                insumoFoto.src = document.getElementById(`insumo-foto-${id}`).src;
                insumoQuantidade.value = Number(document.getElementById(`quantidade-item-${id}`).textContent.replace(' ', '').replace('uni', '').replace('kg', ''));
                insumoPreco.value = Number(document.getElementById(`preco-item-${id}`).textContent.replace('R$', '').replace(',', '.'));
                console.log('preço obtido ao abrir popup:', insumoPreco.value);
                insumoNome.textContent = document.getElementById(`insumo-nome-${id}`).textContent.length > 20 ? document.getElementById(`insumo-nome-${id}`).textContent.slice(0, 18) + '...' : document.getElementById(`insumo-nome-${id}`).textContent;

                popupEditarSaida.classList.remove('hidden');
            }
        })

        // DELETE
        document.addEventListener('click', async (event) => {
            if(event.target.id.startsWith('delete-')) {
                const id = event.target.id.replace('delete-', '');
                await deleteItem(id);
            }
        })
    });
</script>