<style>
    #card-total-estoque{
        opacity:0;
        transform: translateY(10px);
        transition: opacity .2s ease, transform .4s ease;
    }

    #card-total-estoque.show{
        opacity:1;
        transform: translateY(0);
    }
</style>

<div id="card-total-estoque" class="total-estoque w-full group w-full bg-white rounded-xl flex flex-col gap-1 md:px-12 p-6 md:py-10 border border-gray-200">
    <div class="flex flex-row items-center gap-1 items-center">
        <h2 class="text-gray-500 text-sm">Total em estoque</h2>
        <img id="icone-total-estoque" src="https://media.tenor.com/WX_LDjYUrMsAAAAi/loading.gif" alt="Icone do card" class="hidden w-4 h-4">
    </div>
    <p id="valor-total-estoque" class="md:text-5xl text-3xl font-extrabold text-gray-600"></p>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        const cardTotalEstoque = document.getElementById("card-total-estoque");

        setTimeout(() => {  
            cardTotalEstoque.classList.add("show");
        }, 400);

    });
</script>
