<div class="flex flex-row gap-3 items-center">   
   <a href="<%= link %>" class="text-gray-700 font-semibold hover:text-green-700 transition-all duration-200">
        <%= paginaAnterior %>

    </a>
    <img src="https://login.taiksu.com.br/frontend/img/seta.png" class="w-5 h-5">
    <h1 id="bread2" class="capitalize text-gray-500 font-semibold">
        <%= title %>
    </h1>
</div>