<div id="loader" class="flex flex-col gap-4 items-center justify-center p-10 rounded-lg border border-gray-200 bg-white">
    <h2 class="text-xl font-semibold text-green-800"><%= info %></h2>
    <img src="https://media.tenor.com/WX_LDjYUrMsAAAAi/loading.gif" class="h-10 w-10">
</div>