<%
let place = 'Pesquisar insumo';
if (place) {
    place = placeholder;
}
%>

<div id="searchbox-container" class="sticky top-20 mt-8 bg-[#F3F8F3] py-6">
    <img src="https://login.taiksu.com.br/frontend/img/pesquisa.png" class="w-5 h-5 absolute inset-y-0 left-4 my-auto pointer-events-none">
    <input type="search" placeholder="<%= place %>" class="w-full shadow-sm hover:shadow-lg transition-shadow duration-300 bg-white pl-10 p-3 outline-none ring-1 ring-gray-300 focus:ring-green-500 rounded-md hover:ring-green-300" id="search" onkeyup="if (!window.__cfRLUnblockHandlers) return false; filtraInsumos()">
</div>


<script>
    function filtraInsumos() {
        const input = document.getElementById('search');
        const filter = input.value.toLowerCase();
        const cards = document.querySelectorAll('.insumo-card');

        cards.forEach(card => {
            const nome = card.querySelector('.insumo-nome').textContent.toLowerCase();
            if (nome.includes(filter)) {
                card.style.display = 'flex';
            } else {
                card.style.display = 'none';
            }
        });

        // Oculta categorias vazias
        const categorias = document.querySelectorAll('.categoria-insumos');
        categorias.forEach(categoria => {
            const insumos = categoria.querySelectorAll('.insumo-card');
            const insumosVisiveis = Array.from(insumos).filter(insumo => insumo.style.display !== 'none');
            if (insumosVisiveis.length === 0) {
                categoria.style.display = 'none';
            } else {
                categoria.style.display = 'flex';
            }
        });
    }
</script>