@import "tailwindcss";

body {
  width: 100%;
  font-family: 'Figtree', sans-serif;
  background-color: #F3F8F3;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

    .noscrollbar::-webkit-scrollbar {
        display: none;
    }

    .noscrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }