<div class="flex flex-row items-center justify-between mb-5">
<%- include('../components/breadcrumb', { link: '/', paginaAnterior: 'Inventário'}) %>
</div>

<div class="flex flex-col gap-2 bg-white rounded-xl p-12 items-center justify-center border border-gray-200">
    <img src="/images/icones/certo.png" alt="Alerta" class="w-14 h-14 mb-5">
    <h1 class="font-semibold text-xl text-green-700">Tudo em dia com seu estoque.</h1>
    <p class="text-gray-500 text-center">Todos os insumos estão com a quantidade<br>acima do mínimo recomendado</p>
</div>