<a id="indicador-alerta" class="px-4 py-1 rounded-full bg-white text-green-700 border border-gray-200 flex flex-row gap-2 items-center shadow-lg hover:shadow-none transition-shadow duration-300" href="/alertas/ok">
    <img id="icone-alerta" src="/images/icones/certo.png" alt="Alerta" class="w-5 h-5">
    Tudo em dia
</a>